.admin-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.admin-home-inventory-info {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.admin-home-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.admin-home-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-home-summary-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.admin-home-summary-item:hover {
  transform: translateY(-5px);
}

.admin-home-summary-item:last-child {
  margin-right: 0;
}

.admin-home-summary-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.admin-home-summary-item p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #869a1f;
}

.admin-home-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-home-table th,
.admin-home-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.admin-home-table th {
  background-color: #869a1f;
  color: #fff;
  font-weight: bold;
}

.admin-home-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-home-table tbody tr:hover {
  background-color: #e5e5e5;
}

.admin-home-table td:first-child {
  font-weight: bold;
}

.admin-home-table td:nth-child(2) {
  padding-left: 20px;
}

.admin-home-table td:last-child {
  text-align: center;
}