/* Hero.css */
.hero {
  position: relative;
  width: 70%;
  height: 80vh;
  overflow: hidden;
  padding: 50px 0;
  margin: 0 auto;
}

.hero-title {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.hero-title-h {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-slider .slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slider-slide-background-image {
  width: calc(100% - 40px);
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 20px;
}

.hero-slider .hero-slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-slider .hero-slide-content h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-slider .hero-slide-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-slider .hero-slide-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-slider .hero-slider-previous-button,
.hero-slider .hero-slider-next-button {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: all;
  z-index: 1;
}

.hero-slider .hero-slider-previous-button {
  left: 20px;
}

.hero-slider .hero-slider-next-button {
  right: 20px;
}

.container {
  margin-top: 30px;
}
